@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Krona One", sans-serif;
}

body {
  background: #111;
  color: #fff;
  overflow: hidden;
}

b {
  color: dodgerblue;
}

.divider {
  width: 20%;
  padding: 1px;
  background-color: dodgerblue;
  margin-top: 10px;
  margin-bottom: 10px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.HomePage {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HomePage__Title {
  position: relative;
  font-size: 2em;
  text-align: center;
  width: 90%;
}

.HomePage__Links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.HomePage__Links__icon {
  color: white;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.HomePage__Links__icon:hover {
  color: dodgerblue;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.HomePage__text {
  width: 90%;
  font-size: 1.2em;
  margin-top: 20px;
  text-align: center;
}

.HomePage__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HomePage__container__Img {
  margin-top: 50px;
  margin-right: 40px;
  width: 90px;
  height: 100px;
}

.About {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.About__image {
  width: 30%;
}

.About__container {
  width: 70%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.About__container__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 80px;
  left: 80px;
}

.About__container__lang__button {
  padding: 10px;
  background-color: dodgerblue;
  color: #111;
  cursor: pointer;
}

.About__container__lang__buttonActive {
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
}

.About__container__title {
  margin-bottom: 20px;
  font-size: 4em;
  color: dodgerblue;
}

.About__container__text {
  font-family: "Exo", sans-serif;
  font-size: 1.2em;
  line-height: 35px;
  width: 80%;
}

.About__container__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15px;
}

.About__container__skills__item {
  margin-top: 5px;
}

.About__container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.About__container__list__icon {
  margin-right: 20px;
  color: white;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.About__container__list__icon:hover {
  color: dodgerblue;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.Work {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.Work__container {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Work__container__title {
  font-size: 4em;
  color: dodgerblue;
}

.Work__container__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50vh;
}

.Work__container__projects__container {
  position: relative;
  margin: auto;
}

.Work__container__projects__container__title {
  color: dodgerblue;
}

.Work__container__projects__container__icon {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
}

.Work__container__projects__container__icon:hover {
  color: dodgerblue;
}

.Work__container__projects__container__imageContainer {
  width: 100%;
}

.Work__container__projects__container__imageContainer__image {
  width: 300px;
  height: 300px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.Work__container__projects__container__imageContainer__image:hover {
  cursor: pointer;
  color: black;
  opacity: 0.3;
}

.Work__container__projects__container__imageContainer__lang {
  position: absolute;
  background-color: black;
  width: 300px;
  top: 0;
  left: 0;
  color: dodgerblue;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.Work__container__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.Work__container__slider__circle {
  height: 50px;
  width: 100%;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Work__container__slider__circle::before {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #d4d4d4;
  border-radius: 50%;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.Work__container__slider__circle:hover::before {
  background-color: dodgerblue;
}

.Contact {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.Contact__container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Contact__container__title {
  font-size: 4em;
  color: dodgerblue;
}

.Contact__container__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Navbar {
  position: relative;
  background: #111;
  margin-bottom: 3px;
  margin-top: 5px;
  position: relative;
  z-index: 50;
}

.Navbar__menu {
  display: none;
  color: dodgerblue;
}

.Navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.Navbar__list__item {
  margin-right: 75px;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.Navbar__list__item:hover {
  color: dodgerblue;
  cursor: pointer;
}

.Navbar__list__item:hover:after {
  width: 5.5em;
  border-bottom: 3px solid dodgerblue;
}

.Navbar__list__item:after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 1em;
  padding-top: 3px;
  border-bottom: 3px solid white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 720px) {
  .HomePage__Title {
    font-size: 1.5em;
  }
  .HomePage__Links {
    width: 50%;
  }
  .HomePage__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  .HomePage__container__Img {
    width: 80px;
    height: 90px;
  }
  .Navbar__list {
    display: none;
  }
  .Navbar__menu {
    position: absolute;
    z-index: 101;
    top: 20px;
    right: 45%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    color: dodgerblue;
  }
  .Navbar__listMobile {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.9;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .Navbar__listMobile__item {
    padding: 8px;
    text-decoration: none;
    list-style: none;
    font-size: 36px;
    color: #d4d4d4;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
  }
  .Nav-exit {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .Nav-exit-active {
    opacity: 1;
    -webkit-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .About__container {
    width: 90%;
  }
  .About__container__lang {
    top: 125px;
  }
  .About__container__title {
    font-size: 24px;
    margin-top: 50%;
    margin-bottom: 0;
    width: 100%;
  }
  .About__container__text {
    font-size: 11px;
    width: 100%;
    line-height: 20px;
  }
  .About__container__skills {
    font-size: 10px;
  }
  .Work__container__title {
    font-size: 24px;
  }
  .Contact__container__title {
    font-size: 24px;
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */